@keyframes sizeChange {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
button {
  border-radius: 8px;
  border: none;
  background-color: #2563eb;
  color: white;
  font-size: 18px;
  padding: 16px 24px;
  text-align: center;
  &:hover {
    animation: sizeChange 0.6s;
  }
}

#transition-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
