.container {
  width: 100vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  & img {
    max-height: 30vh;
    max-width: 30vw;
  }
  .izquierda {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .derecha {
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
