#containerLogin {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 300px;

  & #titleLogin {
    font-size: 4em;
    margin: 2rem;
  }
  & input {
    width: 300px;
    height: 40px;
    border-radius: 0.25rem;
    border: solid 0.125rem #121212;
    padding: 15px;
  }

  & button {
    width: 300px;
    height: 40px;
    margin: 20px;
    /*VOY A HACER UN BOTÓN RETRO CHULO*/
    background-color: #ffff55;
    border-radius: 0.25rem;
    border: solid 0.125rem #121212;
    box-shadow: 0.25rem 0.25rem #121212;
    font-size: large;
    text-transform: uppercase;
    &:active {
      transform: translate(0.125rem, 0.125rem);
      box-shadow: 0.125rem 0.125rem #121212;
    }
    transition: 0.15s;
    &:hover {
      -webkit-box-shadow: 0px 0px 38px px 1px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0px 0px 38px px 1px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 0px 38px px 1px rgba(0, 0, 0, 0.3);
      transform: scale(0.95);
    }
  }
}
