#containerLogin {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 300px;

  & #titleLogin {
    margin: 2rem;
    font-size: 4em;
  }

  & input {
    width: 300px;
    height: 40px;
    border-radius: 5px;
    padding: 10px;
  }

  & button {
    width: 300px;
    height: 40px;
    margin: 20px;
    background-color: #0def03;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    -webkit-box-shadow: 0px 4px 10px -3px rgba(0, 0, 0, 0.61);
    -moz-box-shadow: 0px 4px 10px -3px rgba(0, 0, 0, 0.61);
    box-shadow: 0px 4px 10px -3px rgba(0, 0, 0, 0.61);

    transition: ease-in-out 0.1s;
    &:hover {
      -webkit-box-shadow: 0px 2px 5px -3px rgba(0, 0, 0, 0.61);
      -moz-box-shadow: 0px 2px 5px -3px rgba(0, 0, 0, 0.61);
      box-shadow: 0px 2px 5px -3px rgba(0, 0, 0, 0.61);

      transform: scale(0.98);
    }
  }
}
