@import url("https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Anek Telugu", sans-serif;
}
div,
p {
  height: 40px;
  width: 150px;
}
h1 {
  margin-left: 4rem;
}

.image-container {
  width: 100%;
}
img {
  display: block;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

p {
  padding: 0px 10px;
  margin: 4rem 4rem 0rem 4rem;
}
