* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: 300px;
    gap: 1rem;
    padding: 8rem;
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}