#containerDashboard {
  display: flex;

  justify-content: center;
  align-items: center;
  min-height: 70vh;

  & img {
    width: 100px;
  }
  & ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 2rem;
    /*En el sentido de las agujas del reloj*/
    margin: 2rem 0 2rem 0;
    & li figure {
      /*Metemos las imágenes en círculos negros (bg-color con radius 50)*/
      width: 350px;
      height: 350px;
      border: 0.75rem solid #047cb4;
      border-radius: 5rem;
      background-color: #f73d9d;
      color: #ffff55;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0.5rem;

      /*le metemos las sombras*/
      -webkit-box-shadow: 0px 8px 30px -3px rgba(0, 0, 0, 0.61);
      -moz-box-shadow: 0px 8px 30px -3px rgba(0, 0, 0, 0.61);
      box-shadow: 0px 8px 30px -3px rgba(0, 0, 0, 0.61);
      /*Hacemos que la sombra sea más pequeña cuando pasamos el ratón por encima*/
      /*Le ponemos una transición para que no lo haga de golpe*/
      transition: 0.15s;
      &:hover {
        -webkit-box-shadow: 0px 0px 38px px 1px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 0px 38px px 1px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 0px 38px px 1px rgba(0, 0, 0, 0.3);
        transform: scale(0.95);
      }
      & img {
        width: 60%;
      }
    }
  }
}
