* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 200vh;
}

.relative {
  width: 100px;
  height: 100px;
  background-color: rgba(0, 255, 255, 0.305);
  position: relative;

  top: 500px;
  right: -200px;
}

.absolute {
  width: 100px;
  height: 100px;
  background-color: rgba(255, 192, 203, 0.283);
}

/* se mueve en funcion del  view el fixed hace que se ponga debajo el siguiente elemento en el html*/
.fixed {
  width: 100px;
  height: 100px;
  background-color: rgba(0, 0, 255, 0.32);
  position: fixed;
  top: 0px;
  right: 0px;
}

.spinner {
  width: 100px;
  height: 100px;
  background-color: rgba(95, 226, 43, 0.233);
  margin-top: 100px;
}
