.more {
  margin-top: 20px;
}

.languages,
.habilities,
.volunteer {
  margin-bottom: 20px;
}

.languages h3,
.habilities h3,
.volunteer h3 {
  margin-top: 0;
}

.languages p,
.habilities ul,
.volunteer h4 {
  margin: 0;
}

.habilities ul {
  list-style-type: disc;
  padding-left: 20px;
}

.volunteer-item {
  margin-top: 10px;
}

.volunteer-item h4 {
  margin-bottom: 5px;
}
