header {
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  background: #0d0d0d;
  -webkit-box-shadow: 0px 8px 30px -3px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 0px 8px 30px -3px rgba(0, 0, 0, 0.61);
  box-shadow: 0px 8px 30px -3px rgba(0, 0, 0, 0.61);
  z-index: 100;
  @media (max-width: 600px) {
    flex-direction: column;
  }

  & nav img {
    width: 20%;
    margin: 0.8em;
    transition: ease-in-out 0.3s;
    @media (max-width: 600px) {
      width: 40%;
    }
    &:hover {
      transform: scale(1.2);
    }
  }
  & .logo {
    width: 20vw;
    height: 100%;
    object-fit: cover;
    @media (max-width: 600px) {
      width: 30vw;
      height: 10vh;
    }
  }
  & nav {
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
