.figurePokemon {
  width: 200px;
  height: 280px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem;

  & img {
    height: 180px;
    width: 180px;
    animation: rebota 1s alternate infinite ease-in;
    transition: all 1s ease-in-out;
  }
}

.like {
  color: red;
}

@keyframes rebota {
  100% {
    transform: translateY(5px);
  }
}

.grass {
  background-color: #63bb5b75;
}
figure.grass {
  border: 10px solid #63bb5b;
}

figure.bug {
  border: 10px solid #8fc12c;
}
.bug {
  background-color: #8fc12c80;
}

figure.dark {
  border: 10px solid #5a5366;
}
.dark {
  background-color: #5a536687;
}
figure.dragon {
  border: 10px solid #0a6dc4;
}
.dragon {
  background-color: #0a6dc482;
}
figure.electric {
  border: 10px solid #f3d13b;
}
.electric {
  background-color: #f3d13b75;
}

figure.fairy {
  border: 10px solid #ec8fe6;
}
.fairy {
  background-color: #ec8fe67e;
}
figure.fighting {
  border: 10px solid #ce4068;
}
.fighting {
  background-color: #ce406884;
}

figure.fire {
  border: 10px solid #ff9b54;
}
.fire {
  background-color: #ff9b546f;
}

figure.flying {
  border: 10px solid #8fa8dd;
}
.flying {
  background-color: #8fa8dd7c;
}
figure.ghost {
  border: 10px solid #5269ac;
}
.ghost {
  background-color: #5269ac7e;
}

figure.ground {
  border: 10px solid #d97746;
}
.ground {
  background-color: #d977467c;
}
figure.ice {
  border: 10px solid #74cec1;
}
.ice {
  background-color: #74cec17e;
}
figure.normal {
  border: 10px solid #9099a1;
}
.normal {
  background-color: #9099a17b;
}

figure.poison {
  border: 10px solid #aa6ac8;
}
.poison {
  background-color: #aa6ac87a;
}

figure.psychic {
  border: 10px solid #f97176;
}
.psychic {
  background-color: #f971767e;
}
figure.rock {
  border: 10px solid #c7b78b;
}
.rock {
  background-color: #c7b78b78;
}

figure.steel {
  border: 10px solid #5a8ea1;
}
.steel {
  background-color: #5a8ea17e;
}
figure.water {
  border: 10px solid #4d91d5;
}
.water {
  background-color: #4d91d575;
}
