footer {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px 8px 30px -3px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 0px 8px 30px -3px rgba(0, 0, 0, 0.61);
  box-shadow: 0px 8px 30px -3px rgba(0, 0, 0, 0.61);
  background-color: #0079b6;
  color: rgb(255, 166, 0);
  /*CON EL FIXED HAY QUE DECIRLE EL ANCHO y le decimos la posición inicial*/
  position: fixed;
  bottom: 0;
  z-index: 100;
  width: 100vw;
}
