#containerDashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;

  & img {
    width: 100px;
  }
  & ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    list-style: none;
    gap: 2rem;
    margin: 2rem 0 2rem 0;
    & li figure {
      width: 350px;
      height: 350px;
      border-radius: 50%;
      background-color: black;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0.5rem;
      background: #0d0d0d;
      -webkit-box-shadow: 0px 8px 30px -3px rgba(0, 0, 0, 0.61);
      -moz-box-shadow: 0px 8px 30px -3px rgba(0, 0, 0, 0.61);
      box-shadow: 0px 8px 30px -3px rgba(0, 0, 0, 0.61);
      transition: ease-in-out 0.1s;
      &:hover {
        -webkit-box-shadow: 0px 8px 10px -3px rgba(0, 0, 0, 0.61);
        -moz-box-shadow: 0px 8px 10px -3px rgba(0, 0, 0, 0.61);
        box-shadow: 0px 8px 10px -3px rgba(0, 0, 0, 0.61);

        transform: scale(0.98);
      }
      & img {
        width: 60%;
      }
    }
  }
}
