* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;

  & main {
    padding-top: 20vh;
    min-height: 90vh;
    padding-bottom: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & #app {
    min-height: 100vh;
  }
  & body {
    transition: ease-in-out 0.2s;
  }
}
