figure,
.back,
.tazo {
  width: 280px;
  height: 280px;
}
figure {
  z-index: 2;
  transition: 0.5s;
}

.back {
  backface-visibility: hidden;
  transition: 0.3s;
  transform: rotateY(180deg);
}

.tazo:hover figure {
  transform: rotateY(1800deg);
}
.tazo:hover .back {
  transform: rotateY(360deg);
}

/*CODIGO VIEJO*/
.figurePokemon {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
  & .front {
    height: 220px;
    width: 220px;
  }
  & .back {
    width: 295px;
    height: 320px;
    position: absolute;
  }
}
.grass {
  background-color: #63bb5b75;
}
button.grass {
  background-color: #63bb5b;
}
figure.grass {
  background-size: cover;
  background-image: url("https://res.cloudinary.com/ds5eoiiqk/image/upload/v1690146364/grass_kydexs.svg");
  border: 10px solid #63bb5b;
}

figure.bug {
  background-size: cover;
  background-image: url("https://res.cloudinary.com/ds5eoiiqk/image/upload/v1690146366/bug_louuck.svg");
  border: 10px solid #8fc12c;
}
button.bug {
  background-color: #8fc12c;
}
.bug {
  background-color: #8fc12c80;
}

figure.dark {
  background-size: cover;
  background-image: url("https://res.cloudinary.com/ds5eoiiqk/image/upload/v1690146366/dark_krlnju.svg");
  border: 10px solid #5a5366;
}
button.dark {
  background-color: #5a5366;
}
.dark {
  background-color: #5a536687;
}

figure.dragon {
  background-size: cover;
  background-image: url("https://res.cloudinary.com/ds5eoiiqk/image/upload/v1690146367/dragon_kumutg.svg");
  border: 10px solid #0a6dc4;
}
button.dragon {
  background-color: #0a6dc4;
}
.dragon {
  background-color: #0a6dc482;
}

figure.electric {
  background-size: cover;
  background-image: url("https://res.cloudinary.com/ds5eoiiqk/image/upload/v1690146366/electric_o9dvby.svg");
  border: 10px solid #f3d13b;
}
button.electric {
  background-color: #f3d13b;
}
.electric {
  background-color: #f3d13b75;
}

figure.fairy {
  background-size: cover;
  background-image: url("https://res.cloudinary.com/ds5eoiiqk/image/upload/v1690146364/fairy_xw9nir.svg");
  border: 10px solid #ec8fe6;
}
button.fairy {
  background-color: #ec8fe6;
}
.fairy {
  background-color: #ec8fe67e;
}

figure.fighting {
  background-size: cover;
  background-image: url("https://res.cloudinary.com/ds5eoiiqk/image/upload/v1690146363/fighting_rxd46v.svg");
  border: 10px solid #ce4068;
}
button.fighting {
  background-color: #ce4068;
}
.fighting {
  background-color: #ce406884;
}

figure.fire {
  background-size: cover;
  background-image: url("https://res.cloudinary.com/ds5eoiiqk/image/upload/v1690146364/fire_wtmczq.svg");
  border: 10px solid #ff9b54;
}
button.fire {
  background-color: #ff9b54;
}
.fire {
  background-color: #ff9b546f;
}

figure.flying {
  background-size: cover;
  background-image: url("https://res.cloudinary.com/ds5eoiiqk/image/upload/v1690146364/flying_qvjqle.svg");
  border: 10px solid #8fa8dd;
}
button.flying {
  background-color: #8fa8dd;
}
.flying {
  background-color: #8fa8dd7c;
}

figure.ghost {
  background-size: cover;
  background-image: url("https://res.cloudinary.com/ds5eoiiqk/image/upload/v1690146364/ghost_so7s4o.svg");
  border: 10px solid #5269ac;
}
button.ghost {
  background-color: #5269ac;
}
.ghost {
  background-color: #5269ac7e;
}

figure.ground {
  background-size: cover;
  background-image: url("https://res.cloudinary.com/ds5eoiiqk/image/upload/v1690146365/ground_c7swji.svg");
  border: 10px solid #d97746;
}
button.ground {
  background-color: #d97746;
}
.ground {
  background-color: #d977467c;
}

figure.ice {
  background-size: cover;
  background-image: url("https://res.cloudinary.com/ds5eoiiqk/image/upload/v1690146365/ice_pu8dkj.svg");
  border: 10px solid #74cec1;
}
button.ice {
  background-color: #74cec1;
}
.ice {
  background-color: #74cec17e;
}

figure.normal {
  background-size: cover;
  background-image: url("https://res.cloudinary.com/ds5eoiiqk/image/upload/v1690146365/normal_v1uybq.svg");
  border: 10px solid #9099a1;
}
button.normal {
  background-color: #9099a1;
}
.normal {
  background-color: #9099a17b;
}

figure.poison {
  background-size: cover;
  background-image: url("https://res.cloudinary.com/ds5eoiiqk/image/upload/v1690146365/poison_nzsnkx.svg");
  border: 10px solid #aa6ac8;
}
button.poison {
  background-color: #aa6ac8;
}
.poison {
  background-color: #aa6ac87a;
}

figure.psychic {
  background-size: cover;
  background-image: url("https://res.cloudinary.com/ds5eoiiqk/image/upload/v1690146365/psychic_px618z.svg");
  border: 10px solid #f97176;
}
button.psychic {
  background-color: #f97176;
}
.psychic {
  background-color: #f971767e;
}

figure.rock {
  background-size: cover;
  background-image: url("https://res.cloudinary.com/ds5eoiiqk/image/upload/v1690146366/rock_qzzbfa.svg");
  border: 10px solid #c7b78b;
}
button.rock {
  background-color: #c7b78b;
}
.rock {
  background-color: #c7b78b78;
}

figure.steel {
  background-size: cover;
  background-image: url("https://res.cloudinary.com/ds5eoiiqk/image/upload/v1690146367/steel_cstmqm.svg");
  border: 10px solid #5a8ea1;
}
button.steel {
  background-color: #5a8ea1;
}
.steel {
  background-color: #5a8ea17e;
}

figure.water {
  background-size: cover;
  background-image: url("https://res.cloudinary.com/ds5eoiiqk/image/upload/v1690146366/water_ng5bnr.svg");
  border: 10px solid #4d91d5;
}
button.water {
  background-color: #4d91d5;
}
.water {
  background-color: #4d91d575;
}
