#galleryPokemon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

#containerFilter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 0 1rem 0;
}

#inputPokemon {
  width: 300px;
  height: 2rem;
  border-radius: 5px;
  padding: 10px;
}

#spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

#paginacion {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 3rem 0;
  gap: 0.5rem;
  & button {
    width: 30px;
    height: 30px;
    border-radius: 5px;
  }
}
