.container {
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}
section {
  border: 2px solid #5624d0;
  border-radius: 7px;
  padding: 10px;
  margin: 10px 0;
}
label {
  display: block;
  padding: 7px;
  border-radius: 7px;
  cursor: pointer;
  border: 1px dashed #ccc;
  margin-bottom: 3px;
}
label:hover {
  background: #cec0fc;
}
button {
  width: 80%;
  display: block;
  margin: auto;
  padding: 10px;
  background-color: #76d7c8;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}
button:hover {
  background-color: #000;
  color: #fff;
}
h2 {
  text-align: center;
}
#resultado {
  font-size: 30px;
  color: darkred;
}
