#containerMemory {
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  @media (max-height: 855px) {
    flex-direction: row;
  }
}

#time {
  padding: 1rem;
}
.memory-game {
  max-width: 550px;
  /* max-height: 550px; */
  width: 80vw;
  height: 70vh;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.containerEnd {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 2rem;
}
.memory-card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.memory-card.flipOk {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: #ccaf1c;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}
