* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  font-family: Verdana, sans-serif;
  font-size: 16px;
  color: gray;
  & header {
    padding-bottom: 3rem;
    & nav {
      align-items: center;
      background-image: url(./assets/linear_gradient_default.png);
      background-size: contain;
      position: fixed;
      width: 100vw;
      & a {
        text-decoration: none;
        tex &:hover {
          color: aqua;
        }
      }
    }
  }
  & main {
    position: relative;
    padding-top: 4rem;
    & h1 {
      color: white;
    }
    & figure {
      width: 250px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

#fotoGladiator {
  height: 200px;
}
