body {
  background-color: #1d2226;
  font-family: Verdana, sans-serif;
  font-size: 16px;
  color: gray;
  width: 100vw;
  height: 100vh;
}

h1 {
  font-family: Georgia, serif;
  font-size: 60px;
  color: white;
}
#fotoGladiator {
  height: 200px;
}
figure {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
